body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f6f6f6;
    color: #333;
}

header{
    background-color: #ff6600;
    background: url("img/1d5fdlq9edp9wkndcbez20240415094522_thump.jpg") no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1{
    font-size: 2em;
    margin-bottom: 5px;
}


nav{
    background-color: #333;
}

nav ul.menu{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul.menu  li{
    position: relative;
}

nav ul.menu  li  a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 14px 20px;
    transition: background 0.3s;
}

nav ul.menu  li  a:hover{
    background-color: #ff6600;
}

nav ul.submenu{
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    background-color: #444;
    list-style: none;
    min-width: 180px;
    z-index: 1000;
}

nav ul.submenu li a{
    color: white;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

nav ul.submenu li a:hover{
    background-color: #ff6600;
}

nav ul.menu li:hover > ul.submenu{
    display: block;
}

main{
    display: flex;
    gap: 20px;
    padding: 20px;
}

section{
    flex: 3;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

aside{
    flex: 1;
    background-color: #ecdec7;
    padding: 20px;
    border-radius: 5px;
}

aside ul{
    list-style: square inside;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 0.9em;
}
